* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
h1[data-testid="slackUserName"] {
  color: slategray;
  font-size: 30px;
}
img[data-testid="slackDisplayImage"] {
  width: 250px;
  height: 250px;
}
p[data-testid="currentDayOfTheWeek"] {
  font-size: 20px;
}
p[data-testid="currentUtcTime"] {
  font-size: 20px;
}
p[data-testid="myTrack"] {
  font-size: 20px;
}
a[data-testid="githubUrl"] {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
